{% extends "base.html" %}

{% block content %}
<div class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-lg mt-8">
    <h2 class="text-2xl font-bold text-black">About AI Skin Check</h2>
    <p class="text-black mt-2">This tool uses deep learning to classify skin lesions as malignant or benign, helping with early detection of skin conditions. 
        A result from a team project made by students at the University of Kansas, DermaScan AI uses classification
         methods to distinguish between harmful and harmless growths, lesions, marks, and other skin conditions. 
        A user simply has to upload an close-up image of their growth and the DermaScan AI will assess how threatening 
        it is (confidence level coming soon).
    </p>
</div>
{% endblock %}
